" Appearance
set number relativenumber           " 'Hybrid' line numbers

" Searching
set hlsearch                        " Highlight search results
set ignorecase                      " Ignore case while searching
set smartcase                       " Unless capital letter specified

" Remappings
map Y y$
nnoremap <CR> :noh<CR>
nnoremap <Leader>a :action FindInPath<CR>
nnoremap <Leader>t :action GotoClass<CR>
nnoremap <Leader>d :action GotoDeclaration<CR>
nnoremap <Leader>i :action GotoImplementation<CR>
nnoremap <Leader>f :action FindUsages<CR>
nnoremap <Leader>g :action Annotate<CR>
nnoremap <Leader>p :action PinActiveEditorTab<CR>
nnoremap <C-t> :action Back<CR>
nnoremap <C-o> :action Back<CR>
